    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Unstuck</h2>
              <br/>
                <p>Unstuck is an all-in-one tool for managing online appointments. Here are some things you can do with Unstuck:</p>
                <div>
                  <ul>
                    <li>Offer you availability for with a simple booking page</li>
                    <li>Automatically remove times that conflict with events in your calendar</li>
                    <li>Automatically create Google Calendar (+ Google Meet) appointments with your clients</li>
                    <li>Securely invoice and collect payment using our integrated Stripe flow</li>
                    <li>Create multiple types of appointments</li>
                    <li>Create direct appointment offers to specific clients via email</li>
                  </ul>
                </div>

                Unstuck is free to try. We charge a flat 1% transaction fee for paid appointments which helps us cover our costs. No subscriptions, no hidden charges, no tricks to lock you in.

              </div>
        </div>
    </section>
